/* Bootstrap overwrites */

a:hover{
	text-decoration:none;
}

/* Design style */

#page-header{
	display:block;
	margin-bottom:30px;
	background:#f32837;
	border-bottom:10px #CCC solid;
}

#page-header h1{
	margin:25px 0;
}

#page-header h1 a{
	color:white;
	decoration:none;
}

