/* Bootstrap overwrites */

a:hover{
	text-decoration:none;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background:none;
}

.dropdown-menu > li > a:hover{
	background:#333;
}

.modal-dialog .modal-content .modal-header h4{
	color:#333;
}

header .navbar,
header .navbar .container-fluid,
header .navbar-collapse{
	padding:0 !important;
}

#collapse-navigation{
	margin:0 !important;
	overflow-x:hidden;
}

#collapse-navigation .navbar-nav{
	margin:0 !important;
}

/* Helper classes */

.no-element{
	display:none;
}

.no-padding{
	padding:0px !important;
}

.no-paddingLeft{
	padding-left:0px !important;
}

.no-paddingRight{
	padding-right:0px !important;
}

.no-margin{
	margin:0px !important;
}

.no-marginTop{
	margin-top:0px !important;
}

.no-marginLeft{
	margin-left:0px !important;
}

.no-marginRight{
	margin-right:0px !important;
}

.no-marginBottom{
	margin-bottom:0px !important;
}

.paddingBottom30{
	padding-bottom:30px;
}

.paddingLeft10{
	padding-left:10px;
}

.paddingRight10{
	padding-right:10px;
}

.paddingLeft5{
	padding-left:5px;
}

.paddingRight5{
	padding-right:5px;
}

.marginTop20{
	margin-top:20px;
}

.marginLeft15{
	margin-left:15px;
}

.borderRight{
	border-right:1px solid;
}

/* Design style */

#page-header{
	display:block;
	background:#f32837;
	margin:0;
}

#banner{
	background-color:#cccccc;
	min-height:10px;
}

#page-header h1{
	margin:25px 0;
}

#page-header h1 a{
	color:white;
	decoration:none;
}

#page-content{
	margin: 30px auto;
	min-height:0px;
}

#page-content .page-title{
	margin:20px 0 20px 0;
	padding:0 0 5px;
	border-bottom:1px solid #CCC;
}

#page-footer{
	background:#eee;
}

#page-footer h3{
	font-size:16px;
	float:left;
	margin:0 10px;
	padding:15px 0;
	font-weight:600;
}

#page-footer nav ul{
	float:left;
	margin:0 10px 0 0;
	padding:0;
	list-style:none;
}

#page-footer nav ul li{
	float:left;
	padding:12px;
	margin:0;
}

#page-footer p{
	float:right;
	margin:0;
	padding:12px 10px;
}

#navbar{
	margin:20px auto;
}

#navbar .navbar-header{
	margin-right:0px;
	margin-left:0px;
}

#navbar .navbar-header .navbar-brand{
	padding:15px 0;
}

#header-login{
	display:block;
	margin:20px 0px;
	border:0px !important;
	color:white;
	position:relative;
}

#header-login a{
	color:white;
}

#header-login #login-form-box{
	display:none;
	position:absolute;
	width:100%;
}

#header-login #login-form-box.active{
	display:block;
}

/* Shouldnt do this. read more on : http://getbootstrap.com/css/#type-alignment

#header-login .text-right{
	text-align: center !important;
}*/


/* Page-specific design */

#generate-username{
	margin:0 0 15px;
}

#filterRow{
	background:#EEE;
	padding:15px 0;
}

#filterRow #filterForm .form-group{
	margin-right:15px;
}

#filterRow #filterForm .form-group label{
	font-size:80%;
}

#filterRow #filterForm .form-group input[type=text],
#filterRow #filterForm .form-group select{
	font-size:80%;
	border:2px #CCC solid;
	background:white;
	color:black;
}

/* Responsive */

@media only screen and (max-width: 992px) {
	#navbar{
		margin-right:15px;
		margin-left:15px;
	}
}

@media only screen and (max-width: 768px) {
	#navbar{
		margin-right:0px;
		margin-left:0px;
	}
}

.btn-success{
	background-color: #F32837;
	border-color: #CCC;
}

.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open > .dropdown-toggle.btn-success{
	background-color: #000000;
	border-color: #CCC;
}

.navbar-default{
	background:none;
	
	border:none;
}

.navbar-default .navbar-nav > li > a{
	color:#ffffff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > li > a:hover{
	color:#ffffff;
	background:#F32837;
	text-decoration:underline;
}

.accountMenu.navbar-nav > li {
	
}

.accountMenu.navbar-nav > li:hover, .accountMenu.navbar-nav > li:focus, 
.accountMenu.navbar-nav > li > a:hover, .accountMenu.navbar-nav > li > a:focus{
	background:none;
}

.accountMenu .dropdown-menu{
	background-color:#000000;
}

/* **** Existe deja dans bootstrap3 : http://getbootstrap.com/css/#helper-classes-clearfix

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
/** html .clearfix { height: 1%; }
.clearfix { display: block; }*/
/* close commented backslash hack */

/* faut pas trop généraliser... le mettre seulement si nessessaire sur un #formQuelqueconte
.form-group{
	width:100%;
}
*/

.boxInfo{
	display:none;
}


