{% extends "base.html" %}
{% load account_filters i18n %}

{% block title %}{% trans "My dashboard" %}{% endblock %}

{% block content %}
<div id="menu" class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'accounts:manage_account' %}"><span class="fa fa-user"></span> {% trans "Manage my account" %}</a></li>
        
        {% if request.user|has_group:"Entrepreneur" %}
        <li class="list-group-item"><a href="{% url 'accounts:restaurateurs_create' %}"><span class="fa fa-cog"></span> {% trans "Create a restaurateur" %}</a></li>
        <li class="list-group-item"><a href="{% url 'accounts:restaurateurs_list' %}"><span class="fa fa-cog"></span> {% trans "Manage the restaurateurs" %}</a></li>
        <li class="list-group-item"><a href="{% url 'restaurant:restaurant_create' %}"><span class="fa fa-cutlery"></span> {% trans "Add a restaurant" %}</a></li>
        <li class="list-group-item"><a href="{% url 'restaurant:restaurant_list' %}"><span class="fa fa-cutlery"></span> {% trans "Edit a restaurant" %}</a></li>
        {% endif %}
        
        {% if request.user|has_group:"Restaurateur" %}
        <li class="list-group-item"><a href="{% url 'restaurant:restaurant_create' %}"><span class="fa fa-cog"></span> {% trans "Manage my orders" %}</a></li>
        <li class="list-group-item"><a href="{% url 'restaurant:menu_list' %}"><span class="fa fa-cog"></span> {% trans "Manage my menus" %}</a></li>
        {% endif %}
        
        <li class="list-group-item"><a href="{% url 'accounts:logout' %}"><span class="fa fa-power-off"></span> {% trans "Sign out" %}</a></li>
    </ul>
</div>

<div id="content" class="col-md-9">
{% block content-pane %}
	<h2 class="page-title">{% trans "Welcome in Chemiresto" %} {{ request.user.get_full_name }}</h2>
	
	{% if request.user|has_group:"Client" %}
	<div class="row">
		<div id="unfinishedOrders" class="col-md-6 dashboard-orders">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">{% trans "Current orders" %}</h3>
			  	</div>
			  	<div class="panel-body">
			  		{% if unfinishedOrders %}
			  		<ul class="list-group no-marginBottom">
			    	{% for order in unfinishedOrders %}
				    	<li class="order list-group-item">
				    		<span class="restaurant">{{order.restaurant.name}}</span> {% trans "for the" %} <span class="date">{{order.deliveryDatetime}}</span><br/>
				    		{% trans "Order state" %}: <span class="state">{{order.get_state_text}}</span><br/>
				    		<div class="text-right"><a class="btn btn-default btn-xs" href="{% url 'orders:detail' order.id %}">{% trans "More details" %}</a></div>
				    	</li>
			    	{% endfor %}
			    	</ul>
			    	{% else %}
			    	<p class="no-marginBottom text-center">- {% trans "None" %} -</p>
			    	{% endif %}
			  	</div>
			</div>
		</div>
		
		<div id="unpaidOrders" class="col-md-6 dashboard-orders">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">{% trans "Unpaid order" %}</h3>
			  	</div>
			  	<div class="panel-body">
			  		{% if unpaidOrders %}
			  		<ul class="list-group">
			    	{% for order in unpaidOrders %}
				    	<li class="order list-group-item">
				    		<span class="restaurant">{{order.restaurant.name}}</span> {% trans "for the" %} <span class="date">{{order.deliveryDatetime}}</span><br/>
				    		{% trans "Order state" %}: <span class="state">{{order.get_state_text}}</span><br/>
				    		{% trans "Amount" %}: <span class="total">{{order.total}}$</span><br/>
				    		<div class="text-right"><a class="btn btn-default btn-xs" href="{% url 'orders:detail' order.id %}">{% trans "More details" %}</a></div>
				    	</li>
			    	{% endfor %}
			    	</ul>
			    	<p class="no-marginBottom text-center">{% trans "You can pay on delivery or pay now in the order details." %}</p>
			    	{% else %}
			    	<p class="no-marginBottom text-center">- {% trans "None" %} -</p>
			    	{% endif %}
			  	</div>
			</div>
		</div>
	</div>
	{% endif %}
	
{% endblock %}
</div>
{% endblock %}
