{% extends "base.html" %}
{% load account_filters i18n %}

{% block title %}{% trans "My dashboard" %}{% endblock %}

{% block content %}
<div id="menu" class="col-md-3">
    <ul class="list-group">
        {% if request.user|has_group:"Entrepreneur" %}
            <li class="list-group-item"><a href="{% url 'accounts:restaurators_create' %}"><span class="fa fa-cog"></span> {% trans "Create a restaurateur" %}</a></li>
            <li class="list-group-item"><a href="{% url 'accounts:restaurators_list' %}"><span class="fa fa-cog"></span> {% trans "Manage the restaurateurs" %}</a></li>
            <li class="list-group-item"><a href="{% url 'restaurant:restaurant_create' %}"><span class="fa fa-cutlery"></span> {% trans "Add a restaurant" %}</a></li>
            <li class="list-group-item"><a href="{% url 'restaurant:restaurant_list' %}"><span class="fa fa-cutlery"></span> {% trans "Edit a restaurant" %}</a></li>
        {% endif %}
        
        {% if request.user|has_group:"Restaurateur" %}
            <li class="list-group-item"><a href="{% url 'restaurant:restaurant_create' %}"><span class="fa fa-cog"></span> {% trans "Manage my orders" %}</a></li>
            <li class="list-group-item"><a href="{% url 'restaurant:menu_list' %}"><span class="fa fa-cog"></span> {% trans "Manage my menus" %}</a></li>
        {% endif %}
        
        <li class="list-group-item"><a href="{% url 'accounts:manage_account' %}"><span class="fa fa-user"></span> {% trans "Manage my account" %}</a></li>
        <li class="list-group-item"><a href="{% url 'accounts:logout' %}"><span class="fa fa-power-off"></span> {% trans "Sign out" %}</a></li>
    </ul>
</div>

<div id="content" class="col-md-9">
{% block content-pane %}
	<h2 class="page-title">{% trans "Welcome in Chemiresto" %} {{ request.user.get_full_name }}</h2>
{% endblock %}
</div>
{% endblock %}
