<div class="col-md-4">
	{% if request.user.is_authenticated %}
	Connecté avec <strong>{{ request.user.username }}</strong><br/>
	<a href="{% url 'manage_account' %}"><span class="fa fa-cog"></span> Gérer mon compte</a> | 
	<a href="{% url 'logout' %}?next={{request.path}}"><span class="fa fa-power-off"></span> Se déconnecter</a>
	{% else %}
	<form id="login-form" method="post" action="{% url 'login' %}?next={{request.path}}">
		{% csrf_token %}
		<div class="form-group">
			<label>Utilisateur</label>
			<input name="username" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label>Mot de passe</label>
			<input name="password" class="form-control" type="password"/>
		</div>
		<button type="submit" class="btn btn-primary"><span class="fa fa-user"></span> S'identifier</button>
		<a href="{% url 'register' %}">Créer un compte</a>
	</form>
	{% endif %}
</div>