{% load i18n %}
{% get_available_languages as LANGUAGES %}
<div id="header-login" class="col-md-5 col-xs-12">
{% if request.user.is_authenticated %}
	<div class="text-center">
		
		<div class="clearfix"></div>
		<ul class="nav navbar-nav navbar-right accountMenu">
			<li>
				<a class="paddingRight5" href="{% url 'accounts:manage_account' %}"><span class="fa fa-cog"></span> {% trans "My account" %}</a>
			</li>
			<li>
				<a class="paddingLeft5" href="{% url 'accounts:logout' %}?next={{request.path}}"><span class="fa fa-power-off"></span> {% trans "Sign out" %}</a>
			</li>
			<li>
				<a class="paddingLeft5" href="{% url 'select_language' LANGUAGE_CODE  %}"><span class="fa fa-language"></span> {% trans "Select language" %}</a>
			</li>
		</ul>
	</div>
{% else %}
	<div>
		<ul class="nav navbar-nav navbar-right accountMenu">
			<li>
				<a class="show-login-form-modal paddingRight5" href="#"><span class="fa fa-lock"></span> {% trans "Sign in" %}</a>
			</li>
			<li>
				<a class="paddingLeft5" href="{% url 'accounts:register' %}"><span class="fa fa-user-plus"></span> {% trans "Inscription" %}</a>
			</li>
			<li>
				<a href="#" id="languageSelection" data-toggle="dropdown" class="paddingLeft5">
					<span class="fa fa-language"></span> {% trans "Select language" %} <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="languageSelection">
					{% for lang, name in LANGUAGES %}
					<li><a href="{% url 'select_language' lang  %}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	
	<div class="modal fade" id="login-form-modal" tabindex="-1" role="dialog" aria-labelledby="login-form-modal-label">
		<form id="login-form" method="post" action="{% url 'accounts:login' %}?next={{request.path}}">
	 		<div class="modal-dialog" role="document">
	   			<div class="modal-content">
	     			<div class="modal-header">
	       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	       				<h4 class="modal-title" id="login-form-modal-label">{% trans "Identification" %}</h4>
	     			</div>
	     			<div class="modal-body">
						{% csrf_token %}
						<div class="form-group">
							<input name="username" placeholder="Courriel ou nom d'usagé *" class="form-control" type="text"/>
						</div>
						<div class="form-group">
							<input name="password" placeholder="Mot de passe *" class="form-control" type="password"/>
						</div>
	     			</div>
	      			<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
	        			<button type="submit" class="btn btn-primary"><span class="fa fa-lock"></span> {% trans "Sign in" %}</button>
	      			</div>
	   			</div>
	 		</div>
 		</form>
	</div>
{% endif %}
</div>
