<div id="header-login" class="col-md-3 col-xs-12">
	{% if request.user.is_authenticated %}
		<div class="text-right">
			<p class="no-marginBottom">Connecté sous <strong>{{ request.user.email }}</strong></p>
			<a class="borderRight paddingRight5" href="{% url 'manage_account' %}"><span class="fa fa-cog"></span> Mon compte</a>
			<a class="paddingLeft5" href="{% url 'logout' %}?next={{request.path}}"><span class="fa fa-power-off"></span> Déconnexion</a>
		</div>
	{% else %}
		<div class="text-right">
			<a id="login-form-box-toogle-button" class="borderRight paddingRight10" href="#"><span class="fa fa-power-on"></span> S'identifier</a>
			<a class="paddingLeft10" href="{% url 'register' %}">Créer un compte</a>
		</div>
		
		<div id="login-form-box" class="no-element marginTop20 paddingBottom30">
			<form id="login-form" method="post" action="{% url 'login' %}?next={{request.path}}">
				{% csrf_token %}
				<div class="form-group">
					<input name="username" placeholder="Courriel ou nom d'usagé *" class="form-control" type="text"/>
				</div>
				<div class="form-group">
					<input name="password" placeholder="Mot de passe *" class="form-control" type="password"/>
				</div>
				<button type="submit" class="btn btn-primary"><span class="fa fa-user"></span> S'identifier</button>
			</form>
		</div>
	{% endif %}
</div>