{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
	<h2>Bonjour {{request.user.get_full_name}}</h2>
	
	<ul class="list-group">
		<li class="list-group-item">
			<span class="fa fa-user"></span> <a href="#">Informations du compte</a>
		</li>
		<li class="list-group-item">
			<span class="fa fa-lock"></span> <a href="#">Mot de passe</a>
		</li>
		<li class="list-group-item">
			<span class="fa fa-map-marker"></span> <a href="#">Adresses de livraison</a>
		</li>
		<li class="list-group-item">
			<span class="fa fa-shopping-cart"></span> <a href="#">Historique d'achats</a>
		</li>
	</ul>
</div>
{% endblock %}