{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block header-login %}{% endblock %}

{% block content %}
<div class="col-md-5">
	<form id="login-form" method="post" action="">
		<h2 class="page-title">{% trans "Identification" %}</h2>
		{% csrf_token %}
		{{loginForm|crispy}}
		
		<button type="submit" class="btn btn-primary pull-left" style="margin:0 20px 10px 0">
			<span class="fa fa-user"></span> {% trans "Sign in" %}
		</button>
		
		<div class="pull-left marginTop6">
			<a class="paddingLeft5" href="{% url 'accounts:register' %}">
				<span class="fa fa-user-plus"></span> <strong>{% trans "You don't have an account?" %}</strong>
			</a>
		</div>
		
	</form>
</div>
{% endblock %}
