{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags account_filters i18n %}

{% block title %}{% trans "My account" %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
	<h2 class="page-title">{% trans "Manage my account" %}</h2>
	
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">	
	    	<div class="panel-heading" role="tab" id="headingInfo">
	      		<h4 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="#informations" aria-expanded="true" aria-controls="collapseOne">
	          			<span class="fa fa-user"> </span> {% trans "Account informations" %}
	        		</a>
	      		</h4>
	    	</div>
		    	
	    	<div id="informations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInfo">
	      		<div class="panel-body">
	      			<form id="informations-form" method="post" action="" onsubmit="return false">
					    {% csrf_token %}
						<input type="hidden" name="form-name" value="informations"/>
						<div class="clearfix">
							{% crispy editAccountForm %}
						</div>	
						
						{% if editAccountDetailsForm %}
							<div class="clearfix">
								{% crispy editAccountDetailsForm %}
							</div>	
						{% endif %}
						
						<button id="informations-form-submit" class="btn btn-success"><span class="fa fa-floppy-o"> </span> {% trans "Save" %}</button>
	      				{% if formSuccess == "informations" %}
	      				<div class="alert alert-success" role="alert">{{formSuccessMessage}}</div>
	      				{% endif %}
	      			</form>
	      		</div>
	      	</div>

	    	<div class="panel-heading" role="tab" id="headingPass">
	      		<h4 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="#password" aria-expanded="true" aria-controls="collapseOne">
	          			<span class="fa fa-lock"> </span> {% trans "Password" %}
	        		</a>
	      		</h4>
	    	</div>
	    	<div id="password" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPass">
	      		<div class="panel-body">
	      			<form id="password-form" method="post" action="" onsubmit="return false">
					    <div class="clearfix">
					    {% csrf_token %}
						<input type="hidden" name="form-name" value="password"/>
						{{passwordChangeForm|crispy}}
						</div>
						<button id="password-form-submit" class="btn btn-success"><span class="fa fa-floppy-o"> </span> {% trans "Save" %}</button>
	      				{% if formSuccess == "password" %}
	      				<div class="alert alert-success" role="alert">{{formSuccessMessage}}</div>
	      				{% endif %}
	      			</form>
	      		</div>
	      	</div>  
		     	
			   {% if request.user|has_group:"Client" %}
		   
		    	<div class="panel-heading" role="tab" id="headingShipping">
		      		<h4 class="panel-title">
		        		<a data-toggle="collapse" data-parent="#accordion" href="#shipping" aria-expanded="true" aria-controls="collapseOne">
		          			<span class="fa fa-map-marker"> </span> {% trans "Delivery addresses" %}
		        		</a>
		      		</h4>
		    	</div>
		    	<div id="shipping" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingShipping">
		      		<div class="panel-body">
		      			<form id="shipping-form" method="post" action="" onsubmit="return false">
		      				{% csrf_token %}
								<input type="hidden" name="form-name" value="shipping"/>
								<input type="hidden" name="id" value="{% if shippingForm.instance.id %}{{shippingForm.instance.id}}{% else %}0{% endif %}"/>
								<input type="hidden" name="delete" value="0"/>
		      				{% if formSuccess == "shipping" %}
		      					<div class="alert alert-{{formSuccessType}}" role="alert">{{formSuccessMessage}}</div>
		      				{% endif %}
		      				
		      				<h3 class="no-marginTop">{% trans "Saved addresses" %}</h3>
							
							<table class="table">
								<thead>
									<tr>
										<th style="width:120px;">{% trans "Actions" %}</th>
										<th>{% trans "address" %}</th>
										<th style="width:120px;">{% trans "By default" %}</th>
									</tr>
								</thead>
								<tbody>
									{% for userAddress in userAddresses %}
									<tr>
										<td>
											<a onclick="editShippingAddress('{{userAddress.id}}', ('{% if userAddress.primary %}1{% else %}0{% endif %}'=='1'), '{{userAddress.city|addslashes}}', '{{userAddress.country|addslashes}}', '{{userAddress.region|addslashes}}', '{{userAddress.address1|addslashes}}', '{{userAddress.address2|addslashes}}', '{{userAddress.zip|addslashes}}');" class="btn btn-xs btn-default"><span class="fa fa-pencil"></span></a>
											<a onclick="askDeleteShippingAddress('{{userAddress.id}}', '{{userAddress.address1|addslashes}}{% if userAddress.address2 %}, {{userAddress.address2|addslashes}}{% endif %}, {{userAddress.city|addslashes}}, {{userAddress.region|addslashes}}, {{userAddress.country|addslashes}}, {{userAddress.zip|addslashes|upper}}');" class="btn btn-xs btn-default"><span class="fa fa-times"></span></a>
										</td>
										<td>
											{{userAddress.address1}}{% if userAddress.address2 %}, {{userAddress.address2}}{% endif %}, 
											{{userAddress.city}}, {{userAddress.region}}, {{userAddress.country}}, {{userAddress.zip|upper}}
										</td>
										<td>{% if userAddress.default %}<span class="fa fa-check"></span>{% endif %}</td>
									</tr>
									{% empty %}
									<tr><td colspan="3" class="text-center">{% trans "- None -" %}</td></tr>
									{% endfor %}
								</tbody>
							</table>
							
							<h3 id="shipping-form-title-new">{% trans "New address" %}</h3>
							
							<h3 id="shipping-form-title-edit" class="no-element">{% trans "Editing an Address" %}</h3>
							
							{% crispy shippingForm %}
							
							<button id="shipping-form-submit" class="btn btn-success"><span class="fa fa-floppy-o"> </span> {% trans "Save" %}</button>
							
							<button id="shipping-form-reset" class="btn btn-default"><span class="fa fa-eraser"> </span> {% trans "Erase" %}</button>
		      			</form>
		      		</div>
		      	</div>
			    {% endif %}
		      	
		    	<div class="panel-heading" role="tab" id="headingDeleteAccount">
		      		<h4 class="panel-title">
		        		<a data-toggle="collapse" data-parent="#accordion" href="#deleteAccount" aria-expanded="true" aria-controls="collapseOne">
		          			<span class="fa fa-trash-o"> </span> {% trans "Delete my account" %}
		        		</a>
		      		</h4>
		    	</div>
		    	<div id="deleteAccount" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDeleteAccount">
		      		<div class="panel-body">
	                    <a id="delete-account" href="{% url 'accounts:delete_account' request.user.id %}" class="btn btn-success"><span class="fa fa-trash-o"></span> {% trans "Delete my account" %}</a>
		      		</div>
		      	</div>
		      	
		    </div>
		</div>
	</div>

	<div class="modal fade" id="shipping-form-delete-modal" tabindex="-1" role="dialog" aria-labelledby="login-form-modal-label">
		<div class="modal-dialog" role="document">
	 		<div class="modal-content">
	   			<div class="modal-header">
	     			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	     			<h4 class="modal-title" id="login-form-modal-label">{% trans "Confirmation" %}</h4>
	   			</div>
	   			<div class="modal-body">
					<strong>{% trans "Do you really want to delete this address?" %}</strong><br/><br/>
					<span id="shipping-form-delete-modal-address"></span>
	   			</div>
	    		<div class="modal-footer">
	      			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "cancel" %}</button>
	      			<button id="shipping-form-delete-modal-confirm" type="submit" class="btn btn-danger"><span class="fa fa-times"></span> {% trans "Delete" %}</button>
	    		</div>
	 		</div>
		</div>
	</div>
{% endblock %}


{% block head %}
<link href="{{ STATIC_URL }}bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/collapse.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">

function init() {
	$("#shipping-form-delete-modal").on("hidden.bs.modal", resetShippingAddress);
	$("#shipping-form-delete-modal-confirm").click(confirmDelete);
}

function initInformationForm() {
	// RegionSelector.init call {% if editAccountDetailsForm %}
	RegionSelector.init("#informations-form #id_country", "#informations-form #id_region");//{% endif %}
    $('.datepicker').datetimepicker({
		format: "YYYY-MM-DD"
	});
}

function initShippingForm() {
	$("#shipping-form-reset").click(resetShippingAddress);
	
	// RegionSelector.init call
	RegionSelector.init("#shipping-form #id_country", "#shipping-form #id_region");
	// editShippingAddress call {% if shippingForm.instance.id %}
	editShippingAddress('{{shippingForm.instance.id}}', ('{% if shippingForm.instance.primary %}1{% else %}0{% endif %}'=='1'), '{{shippingForm.instance.city|addslashes}}', '{{shippingForm.instance.country|addslashes}}', '{{shippingForm.instance.region|addslashes}}', '{{shippingForm.instance.address1|addslashes}}', '{{shippingForm.instance.address2|addslashes}}', '{{shippingForm.instance.zip|addslashes}}');
	//{% endif %}
}

function editShippingAddress(id, primary, city, country, region, adr1, adr2, zip) {
	$("#shipping-form input[name=id]").val(id);
	$("#shipping-form input[name=delete]").val(0);
	$("#shipping-form input[name=primary]").prop("checked", primary);
	$("#shipping-form input[name=city]").val(city);
	$("#shipping-form input[name=region]").val(region);
	$("#shipping-form select[name=country]").val(country);
	$("#shipping-form select[name=country]").trigger("change");
	$("#shipping-form input[name=address1]").val(adr1);
	$("#shipping-form input[name=address2]").val(adr2);
	$("#shipping-form input[name=zip]").val(zip);
	
	$("#shipping-form-title-new").hide();
	$("#shipping-form-title-edit").show();
}

function resetShippingAddress() {
	$("#shipping-form input[name=id]").val(0);
	$("#shipping-form input[name=delete]").val(0);
	$("#shipping-form input[name=primary]").prop("checked", false);
	$("#shipping-form input[name=city]").val('');
	$("#shipping-form input[name=region]").val('');
	$("#shipping-form select[name=country]").val('');
	$("#shipping-form select[name=country]").trigger("change");
	$("#shipping-form input[name=address1]").val('');
	$("#shipping-form input[name=address2]").val('');
	$("#shipping-form input[name=zip]").val('');
	
	$("#shipping-form-title-edit").hide();
	$("#shipping-form-title-new").show();
}

function askDeleteShippingAddress(id, address) {
	resetShippingAddress();
	
	$("#shipping-form input[name=id]").val(id);
	$("#shipping-form input[name=delete]").val(1);
	
	$("#shipping-form-delete-modal-address").html(address);
	$("#shipping-form-delete-modal").modal("show");
}

function confirmDelete() {
	$("#shipping-form-delete-modal").modal("hide");
	$('#shipping-form-submit').trigger("click");
}

$(document).ready(function() {
	init();
	initInformationForm();
	initShippingForm();
	
	AppEvent.initAjaxForm("informations-form", "informations-form-submit", "", initInformationForm);
	AppEvent.initAjaxForm("password-form", "password-form-submit");
	AppEvent.initAjaxForm("shipping-form", "shipping-form-submit", "", initShippingForm);
	
	$("#page-content .form-group").addClass("col-md-6");
	
});
</script>
{% endblock %}
