{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Inscription" %}{% endblock %}

{% block content %}
<div class="col-md-12">
	<form id="register-form" method="post" action="">
		<h2 class="page-title">{% trans "Inscription" %}</h2>
		{% if user.id %}
		<div class="alert alert-block alert-success">
			<ul>
				<li>
					{% trans "Your customer account has been created, you can now sign in!" %}
				</li>
			</ul>
		</div>
		{% else %}
			{% csrf_token %}
			
			<div class="clearfix">
				{% crispy registerForm %}
			</div>
			
			<div class="clearfix">
				<h3 class="page-title">Information personnel</h3>
				{% crispy registerDetailsForm %}
			</div>
			<button type="submit" class="btn btn-success">
				<span class="fa fa-check"></span> {% trans "Register" %}
			</button>
		{% endif %}
	</form>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	RegionSelector.init("#id_country", "#id_region");
    
    var d = new Date();
    var maxYear = d.getFullYear();
    var minYear = maxYear - 150;
    $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: minYear + ":" + maxYear,
    });
    
    $(".form-group").addClass("col-md-6");
    
    $("#div_id_email").addClass("pull-right");
    
    $("#div_id_conditions").removeClass("col-md-6");
    
});
</script>
{% endblock %}
