{% extends "accounts/dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Creating a restaurateur - " %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
	<h2 class="page-title">{% trans "Select a restaurateur to edit" %}</h2>
	
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email address" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for r in restaurateurs %}
            <tr>
                <td><a href="{% url 'accounts:restaurateurs_manage' r.pk %}">{{ r.first_name }} {{ r.last_name }}</a></td>
                <td><a href="{% url 'accounts:restaurateurs_manage' r.pk %}">{{ r.email }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
