{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Create a menu - " %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
    <form id="new-menu-form" method="post" action="{% url 'restaurant:menu_create' restaurant.pk %}">
        <h2 class="page-title">{% trans "New menu" %}</h2>
        {% csrf_token %}
        {% crispy form %}
        {% crispy meal_formset %}
        <button type="submit" id="form-submit-btn" class="btn btn-primary">
            <span class="fa fa-check"></span> {% trans "Save" %}
        </button>
    </form>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#form-submit-btn').click(function() {
            $('#new-menu-form').submit();
        });
    });
</script>
{% endblock %}
