{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Create a restaurant - " %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
    <form id="new-restaurant-form" method="post" action="{% url 'restaurant:restaurant_create' %}">
        <h2 class="page-title">{% trans "New restaurant" %}</h2>
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" id="form-submit-btn" class="btn btn-primary">
            <span class="fa fa-check"></span> {% trans "Save" %}
        </button>
    </form>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$(document).ready(function() {
	RegionSelector.init("#new-restaurant-form #id_country", "#new-restaurant-form #id_region");
});
</script>
{% endblock %}
