{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Restaurants - {% endblock %}

{% block content %}
<div class="col-md-12">
	<form id="filterForm" class="horizontal-form">
	
	</form>
	
	<div id="restaurants">
    	{% for r in page %}
        <div class="restaurant">
        	{% if r.image %}
        	{% thumbnail r.image 320x240 upscale as thumb %}
        	<img src="{{thumb.url}}"/>
        	{% endif %}
            <h2>{{ r.name }}</h2>
            <p class="adr">
            	{{ r.address1 }}, {% if r.address2 %}{{ r.address2 }}, {% endif %}{{ r.city }},
            	{{ r.region }}, {{ r.country }}, {{ r.zip }}
            </p>
            <a href="{% url 'restaurants:restaurants_details' r.id %}" class="btn btn-danger">
            	<span class="glyphicon glyphicon-cutlery"></span> Visiter
            </a>
        </div>
    	{% endfor %}
	</div>
	
	<ul id="pagination" class="pagination-sm"></ul>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$('#pagination').twbsPagination({
	totalPages: {{ paginator.num_pages }},
	startPage: {{ page.number }},
	visiblePages: 10,
	first: 'Première',
	prev: 'Précédant',
	next: 'Suivant',
	last: 'Dernière',
	onPageClick: function (event, page) {
    	$.get("{% url 'restaurants:restaurants_list' %}?p="+page, function( data ) {
			var content = $('#restaurants', data).html();
			$('#restaurants').html(content);
		});
	}
});
</script>
{% endblock %}