{% extends "base.html" %}
{% load thumbnail crispy_forms_tags i18n %}

{% block title %}{% trans "Restaurants" %}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row" id="filterRow">
        <div class="col-md-12">
            <form id="filterForm" class="form-inline">
                {% crispy filterForm %}
            </form>
        </div>
    </div>
	
    <div class="row">
        <div class="col-md-12">
            <div id="restaurants">
                {% for r in page %}
                <div class="restaurant">
                    {% if r.image %}
                    {% thumbnail r.image 320x240 crop as thumb %}
                    <img src="{{thumb.url}}"/>
                    {% endif %}
                    <h2>{{ r.name }}</h2>
                    <p class="adr">
                        {{ r.address1 }}, {% if r.address2 %}{{ r.address2 }}, {% endif %}{{ r.city }},
                        {{ r.region }}, {{ r.country }}, {{ r.zip }}
                    </p>
                    <a href="{% url 'restaurants:restaurants_details' r.id %}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-cutlery"></span> {% trans "Visit" %}
                    </a>
                </div>
                {% empty %}
                <div id="no-restaurants">
                    <h2>{% trans "Sorry no restaurant found in your area :(" %}</h2>
                </div>
                {% endfor %}
            </div>
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$('#pagination').twbsPagination({
	totalPages: {{ paginator.num_pages }},
	startPage: {{ page.number }},
	visiblePages: 10,
	first: 'Première',
	prev: 'Précédant',
	next: 'Suivant',
	last: 'Dernière',
	onPageClick: function (event, page) {
    	$.get("{% url 'restaurant:restaurants_list' %}?p="+page, function( data ) {
			var content = $('#restaurants', data).html();
			$('#restaurants').html(content);
		});
	}
});
</script>
{% endblock %}
