{% extends "base.html" %}

{% block title %}Restaurants - {% endblock %}

{% block content %}
<div class="col-md-12">
	<form id="filterForm" class="horizontal-form">
	
	</form>
	
	<div id="restaurants">
    	{% for r in page %}
        <div class="restaurant">
            <h2>{{ r.name }}</h2>
            <p class="adr">
            	{{ r.address1 }}, {% if r.address2 %}{{ r.address2 }}, {% endif %}{{ r.city }},
            	{{ r.region }}, {{ r.country }}, {{ r.zip }}
            </p>
            <a class="btn btn-danger"><span class="glyphicon glyphicon-cutlery"></span> Visiter</a>
        </div>
    	{% endfor %}
	
	</div>
</div>
{% endblock %}