{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Update a restaurant - " %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
    <form id="restaurant-form" method="post" enctype="multipart/form-data" action="{% url 'restaurant:restaurant_update' object.pk %}" >
        <h2 class="page-title">{% trans "Update the restaurant" %}</h2>
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" id="form-submit-btn" class="btn btn-primary">
            <span class="fa fa-check"></span> {% trans "Save" %}
        </button>
    </form>
    
    <button type="button" id="delete-btn" class="btn btn-danger">
        <span class="fa fa-trash-o"></span> {% trans "DESTROY !!!!" %}
    </button>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$(document).ready(function() {
	RegionSelector.init("#restaurant-form #id_country", "#restaurant-form #id_region");
    
    $('#delete-btn').click(function() {
       window.location = "{% url 'restaurant:restaurant_delete' object.pk %}";
    });
});
</script>
{% endblock %}
