{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Edit a restaurant" %}{% endblock %}

{% block content-pane %}
<div class="col-md-12">
    <h2 class="page-title">{% trans "Select a restaurant to edit" %}</h2>
    
    <div class="row" id="filterRow">
        <div class="col-md-12">
            <form id="filterForm" class="form-inline">
                {% crispy filterForm %}
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Address" %}</th>
                <th>{% trans "City" %}</th>
                <th>{% trans "Region" %}</th>
                <th>{% trans "Country" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in restaurants %}
            <tr>
                <td><a href="{% url 'restaurant:restaurant_detail' r.pk %}">{{ r.name }}</a></td>
                <td>{{ r.address1 }} {{ r.address2 }}</td>
                <td>{{ r.city }}</td>
                <td>{{ r.region }}</td>
                <td>{{ r.country }}</td>
                <th><a href="{% url 'restaurant:restaurant_update' r.pk %}">{% trans "Update" %}</a></th>
                <th><a href="{% url 'restaurant:restaurant_delete' r.pk %}">{% trans "Delete" %}</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$(document).ready(function() {
	RegionSelector.init("#filterForm #id_country", "#filterForm #id_region")
});
</script>
{% endblock %}
