{% extends "base.html" %}
{% load thumbnail crispy_forms_tags i18n %}

{% block title %}{% trans "Restaurants" %}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row" id="filterRow">
        <div class="col-md-12">
            <form id="filterForm" class="form-inline">
                {% crispy filterForm %}
            </form>
        </div>
    </div>
	
    <div class="row">
        <div class="col-md-12">
            <div id="restaurants" class="clearfix">
                {% for r in page %}
	                <div class="restaurant col-md-3">
	                    {% if r.image %}
	                    	{% thumbnail r.image 320x240 crop as thumb %}
	                    	<img src="{{thumb.url}}" class="image"/>
	                    {% endif %}
	                    
	                    <div class="boxTexte">
		                    <h2 class="text-center">{{ r.name }}</h2>
		                    
		                    <p class="adr text-center">{{ r.address1 }}</p> 
		                    
		                    {% if r.address2 %}
		                    	<p class="adr text-center">{{ r.address2 }}</p>
		                    {% endif %}
		                    
		                    <p class="adr text-center">{{ r.city }}, {{ r.region }}, {{ r.country }}, {{ r.zip }}</p>
		                    
		                    <a href="{% url 'restaurant:restaurant_detail' r.id %}" class="btn btn-danger">
		                        <span class="glyphicon glyphicon-cutlery"></span> {% trans "View the menu" %}
		                    </a>
	                    </div>
	                </div>
                {% empty %}
                
                <div id="no-restaurants">
                    <h2>{% trans "Sorry no restaurant found in your area :(" %}</h2>
                </div>
                {% endfor %}
                
            </div>
            
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
$(document).ready(function() {
	RegionSelector.init("#filterForm #id_country", "#filterForm #id_region");
	
	$('#pagination').twbsPagination({
		totalPages: {{ paginator.num_pages }},
		startPage: {{ page.number }},
		visiblePages: 10,
		first: '{% trans "First" %}',
		prev: '{% trans "Before" %}',
		next: '{% trans "Next" %}',
		last: '{% trans "Last" %}',
		onPageClick: function (event, page) {
	    	$.get("{% url 'restaurant:restaurant_list' %}?p="+page, function( data ) {
				var content = $('#restaurants', data).html();
				$('#restaurants').html(content);
			});
		}
	});
});
</script>
{% endblock %}
