{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="page-header">
        <h1>{% trans "LOG210 Laboratory - TEAM #5 - GROUP 3" %} <small> {% trans "SUMMER 2015" %}</small></h1>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">MADE BY</div>
        <div class="panel-body">
            <ul>
                <li>{% trans "André Koolen" %}</li>
                <li>{% trans "Anthony Martin Coallier" %}</li>
                <li>{% trans "Dominic Roberge" %}</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">MADE FOR</div>
        <div class="panel-body">
            <p>
                {% trans "École de technologie supérieure" %}<br>
                {% trans "Department of Software Engineering and IT" %}<br>
                {% trans "Classe : LOG210 - Analysis and Design Software" %}<br>
                {% trans "Delivery date : 2015-07-27" %}<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}
