{% load headerlogin i18n %}<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}{% trans " - Chemiresto" %}</title>
		{% block meta %}{% endblock %}
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet"/>
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block head-scripts %}{% endblock %}
	</head>
	<body>
		<header id="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h1 class="hidden-xs"><a href="{% url 'home' %}">{% trans "Chemiresto" %}</a></h1>
					</div>
					
					<nav id="navbar" class="col-md-4 navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation">
									<span class="sr-only">{% trans "Navigation" %}</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h2 class="visible-xs no-marginTop marginLeft15"><a class="navbar-brand" href="#">{% trans "Chemiresto" %}</a></h2>
							</div>
							<div class="collapse navbar-collapse" id="collapse-navigation">
								<ul class="nav navbar-nav">
									{#<li><a href="{% url 'restaurant:restaurant_list' %}"><span class="fa fa-cutlery"></span> {% trans "Restaurants" %}</a></li>#}
									<li><a href="{% url 'accounts:dashboard' %}"><span class="fa fa-tachometer"></span> {% trans "My dashboard" %}</a></li>
									<li><a href="{% url 'about' %}"><span class="fa fa-info-circle"></span> {% trans "About" %}</a></li>
								</ul>
							</div>
						</div>
					</nav>
					
					{% block header-login %}{% headerlogin request %}{% endblock %}
				</div>
			</div>
			
			<div id="banner">
				<div class="container">
					{% if request.user.is_authenticated %}
						<div class="pull-right">
							<p class="no-marginBottom pull-right">{% trans "You are logged as" %} <strong>{{ request.user.email }}</strong></p>
						</div>
					{% endif %}	
				</div>
			</div>
		</header>
		
		<div id="page-content" class="container">
			{% if messages %}
				<div class="row">
	                <div class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <a class="close" data-dismiss="alert">×</a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
	                </div>
				</div>
            {% endif %}
            
            <div class="row">
				{% block content %}
				{% endblock %}
             </div>
		</div>
		
		<div id="page-footer">
			<div class="container">
				<div class="row">
					<nav>
						<ul>
							<li class="firstChild">
								<a href="{% url 'home' %}"><strong>{% trans "Chemiresto" %}</strong></a>
							</li>
	                        {#<li><a href="{% url 'restaurant:restaurants_list' %}">{% trans "Restaurants" %}</a></li>#}
							<li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
						</ul>
					</nav>
					<p>{% trans "Copyright Chemiresto" %} &copy; {% trans "all rights reserved" %}</p>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.twbsPagination.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
		{% block page-scripts %}{% endblock %}
	</body>
</html>
