{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Select your language" %}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="page-header">
        <h1>{% trans "Select your language" %}</h1>
    </div>
    
    {% get_language_info_list for LANGUAGES as languages %}
    
    {% for language in languages %}
        <ul>
            <li>
                <a href="{% url 'select_language' language.code %}">{{ language.name_local }} ({{ language.code }})</a>
            </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
