{% extends "email.html" %}
{% load i18n humanize %}

{% block email-header %}
<td style='width:15px;'></td>
<td align='right'>
	<h2 style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#ffffff; font-size:22px; margin:0; padding:0px;">{% trans "New order creation" %}</h2>
</td>
{% endblock %}

{% block email-content %}
<table cellpadding="0" cellspacing="0" border="0" style='width:100%;'>
	<tr>
		<td colspan='5' style='height:15px;'></td>
	</tr>
	<tr>
		<td style='width:15px;'></td>
		<td>
			<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; padding:0px; margin:0px; color:#000000; font-size:14px;">{% trans "We inform you that a new order has been created." %}</p>
		</td>
		<td style='width:15px;'></td>
		<td>
			<h3 style="color:#000000; padding:0px; margin:0px; font-size:14px;">{% trans "order" %} : #{{order.id}}</h3>
		</td>
		<td style='width:15px;'></td>
	</tr>
	<tr>
		<td colspan='5' style='height:15px;'></td>
	</tr>
	<tr>
		<td style="width:15px;"></td>
		<td colspan='3'>
			<table cellpadding="0" cellspacing="0" border="0" style="border:solid 1px #000000;width:100%;">
				<thead>
					<tr>
						<th colspan="2" style="text-align:center; background-color:#f32837;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#ffffff; font-size:12px;">{% trans "Item" %}</p>
						</th>
						<th style="text-align:center;background-color:#f32837;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#ffffff; font-size:12px;">{% trans "Qte" %}</p>
						</th>
						<th style="text-align:center;background-color:#f32837;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#ffffff; font-size:12px;">{% trans "Price" %}</p>
						</th>
						<th colspan="2" style="text-align:center;background-color:#f32837;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#ffffff; font-size:12px;">{% trans "Total" %}</p>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for detail in order.details %}
					<tr>
						<td style="width:5px; border-bottom:solid 1px #000000; height:30px;"></td>
						<td style="text-align:center; border-bottom:solid 1px #000000; height:30px;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{detail.item.name}}</p>
						</td>
						<td style="text-align:center; border-bottom:solid 1px #000000; height:30px;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{detail.qte}}</p>
						</td>
						<td style="text-align:center; border-bottom:solid 1px #000000; height:30px;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{detail.price}}</p>
						</td>
						<td style="text-align:right; border-bottom:solid 1px #000000; height:30px;">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{detail.cost}}$</p>
						</td>
						<td style="width:15px; border-bottom:solid 1px #000000; height:30px;"></td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" height="10"></td>
					</tr>
					<tr>
						<td style="width:5px;"></td>
						<td colspan="3" style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{% trans "Subtotal" %}</p>
						</td>
						<td style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{order.subtotal}}$</p>
						</td>
						<td style="width:15px;"></td>
					</tr>
					{% for tax in order.taxes %}
					<tr>
						<td colspan="6" height="5"></td>
					</tr>
					<tr>
						<td style="width:15px;"></td>
						<td colspan="3" style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{tax.tax}}</p>
						</td>
						<td style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{tax.price|floatformat:2|intcomma}}$</p>
						</td>
						<td style="width:15px;"></td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" height="5"></td>
					</tr>
					<tr>
						<td style="width:15px;"></td>
						<td colspan="3" style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{% trans "Total" %}</p>
						</td>
						<td style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;"><strong>{{order.total|floatformat:2|intcomma}}$</strong></p>
						</td>
						<td style="width:15px;"></td>
					</tr>
					<tr>
						<td colspan="6" height="5"></td>
					</tr>
					<tr>
						<td style="width:15px;"></td>
						<td colspan="3" style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{% trans "Suggested TIPS" %}</p>
						</td>
						<td style="text-align:right">
							<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0; padding:0; color:#000000; font-size:12px;">{{order.suggested_tips|floatformat:2|intcomma}}$</p>
						</td>
						<td style="width:15px;"></td>
					</tr>
					<tr>
						<td colspan="6" height="10"></td>
					</tr>
				</tbody>
			</table>
		</td>
		<td style='width:15px;'></td>
	</tr>
	<tr>
		<td colspan='5' style='height:15px;'></td>
	</tr>
</table>
{% endblock %}